.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: white;
  font-size: 60pt;
} 

.bg-primary-new {
  background-color: transparent;
}

a {
  color: white;
  text-decoration: none !important;
}
 
a:hover > h2,
a:hover > span,
a:hover > i{
  color: #545454;
}

a > h2,
a > i,
a > span {
  transition: color 0.3s ease-in-out;
}

.scrollable-div {
  overflow-y: auto;
  height: 100vh
  /* overflow: scroll; */
}

.page-content {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  height: 100vh;
}